%h2 Basic info

.row

  .span3
    First, give us some basic info
    about your project or organization.

  .span9
    .form-horizontal

      .control-group
        = label_tag :hub_id, nil, class: 'control-label'
        .controls
          = select_tag :hub_id, options_for_select(all_hubs, @project.hub_id)

      .control-group
        = label_tag :name, nil, class: 'control-label'
        .controls
          = text_field_tag :name, @project.name

      .control-group
        = label_tag :email, nil, class: 'control-label'
        .controls
          = text_field_tag :email, @project.email
    
      = form_for(:upload_form, url: create_asset_path, html: { method: :post, class: 'upload-form', |
        :"data-url-input" => 'logo', multipart: true }, remote: true ) do |f| |
        .control-group
          = label_tag :logo, nil, class: 'control-label'
          .controls
            = f.hidden_field :type, value: 'logo'
            = f.file_field :uploaded_data
            = text_field_tag :logo, @project.logo         

      = form_for(:upload_form, url: create_asset_path, html: { method: :post, class: 'upload-form', |
        :"data-url-input" => 'misc_image', multipart: true }, remote: true ) do |f| |
        .control-group
          = label_tag :misc_image, nil, class: 'control-label'
          .controls
            = f.hidden_field :type, value: 'misc_image'
            = f.file_field :uploaded_data
            = text_field_tag :misc_image, @project.misc_image        
