- page ||= Page.new

.slide{id: ('template-slide' if template_slide)}
  .heading
    .handle
      %i.icon-align-justify
    %a.toggle Big Text
    .delete-slide
      %i.icon-trash#delete-slide
    .toggle-display
      %i.icon-chevron-down
      %i.icon-chevron-up
  .content
    .form-horizontal
      .control-group
        = label_tag :page_type, nil, class: 'control-label'
        .controls
          = select_tag :page_type, options_for_select(all_page_types, page.page_type), class: 'page-type-select'
        
      -############### Big Text ###############
      .page-type.big-text{:"data-page-type" => "Big Text"}
        .control-group
          = label_tag "Text", nil, class: 'control-label'
          .controls
            = text_area_tag :"big_text[text]", (page.content["text"] if page.page_type == "Big Text")
          
    
      -############### Big Photo ###############
      .page-type.big-photo{:"data-page-type" => "Big Photo"}
        = form_for(:upload_form, url: create_asset_path, html: { method: :post, class: 'upload-form', |
          :"data-url-input" => 'big_photo_url', multipart: true }, remote: true ) do |f| |
          .control-group
            = label_tag :"big_photo[url]", nil, class: 'control-label'
            .controls
              = f.hidden_field :type, value: 'photo'
              = f.file_field :uploaded_data
              = text_field_tag :"big_photo[url]", (page.content["url"] if page.page_type == "Big Photo")       
      
          
    
      -############### Text and Photo ###############
      .page-type.text-and-photo{:"data-page-type" => "Text and Photo"}
        .control-group
          = label_tag "Text", nil, class: 'control-label'
          .controls
            = text_area_tag :"text_and_photo[text]", (page.content["text"] if page.page_type == "Text and Photo")
            
        = form_for(:upload_form, url: create_asset_path, html: { method: :post, class: 'upload-form', |
          :"data-url-input" => 'text_and_photo_url', multipart: true }, remote: true ) do |f| |
          .control-group
            = label_tag :"text_and_photo[url]", nil, class: 'control-label'
            .controls
              = f.hidden_field :type, value: 'photo'
              = f.file_field :uploaded_data
              = text_field_tag :"text_and_photo[url]", (page.content["url"] if page.page_type == "Text and Photo")      
            
          
          
      -############### Team Bios ###############
      .page-type.team-bios{:"data-page-type" => "Team Bios"}
        - (1..2).each do |n|
          %h5 Team member ##{n}
    
          .control-group
            = label_tag "Name", nil, class: 'control-label'
            .controls
              = text_field_tag :"team_bios[member_#{n}_name]", (page.content["member_#{n}_name"] if page.page_type == "Team Bios")
            
          .control-group
            = label_tag "Title", nil, class: 'control-label'
            .controls
              = text_field_tag :"team_bios[member_#{n}_title]", (page.content["member_#{n}_title"] if page.page_type == "Team Bios")
              
          = form_for(:upload_form, url: create_asset_path, html: { method: :post, class: 'upload-form', |
            :"data-url-input" => "team_bios_member_#{n}_photo", multipart: true }, remote: true ) do |f| |
            .control-group
              = label_tag :"team_bios[member_#{n}_photo]", nil, class: 'control-label'
              .controls
                = f.hidden_field :type, value: 'avatar'
                = f.file_field :uploaded_data
                = text_field_tag :"team_bios[member_#{n}_photo]", (page.content["member_#{n}_photo"] if page.page_type == "Team Bios")       
          
            
            
      -############### Contact Info ###############
      .page-type.contact-info{:"data-page-type" => "Contact Info"}
        .control-group
          = label_tag "Mailing Address", nil, class: 'control-label'
          .controls
            = text_area_tag :"contact_info[mailing_address]", |
                (page.content["mailing_address"] if page.page_type == "Contact Info"), |
                placeholder: "Include company name" |
    
        .control-group
          = label_tag "Phone", nil, class: 'control-label'
          .controls
            = text_field_tag :"contact_info[phone]", (page.content["phone"] if page.page_type == "Contact Info")
          
        .control-group
          = label_tag "Website", nil, class: 'control-label'
          .controls
            .input-prepend
              %span.add-on http://
              = text_field_tag :"contact_info[website]", (page.content["website"] if page.page_type == "Contact Info")
          
        .control-group
          = label_tag "Twitter", nil, class: 'control-label'
          .controls
            .input-prepend
              %span.add-on @
              = text_field_tag :"contact_info[twitter]", (page.content["twitter"] if page.page_type == "Contact Info")
          
        .control-group
          = label_tag "Facebook", nil, class: 'control-label'
          .controls
            .input-prepend
              %span.add-on facebook.com/
              = text_field_tag :"contact_info[facebook]", (page.content["facebook"] if page.page_type == "Contact Info")
          
        .control-group
          = label_tag "Blog", nil, class: 'control-label'
          .controls
            .input-prepend
              %span.add-on http://
              = text_field_tag :"contact_info[blog]", (page.content["blog"] if page.page_type == "Contact Info")
