%h1 
  Projects for #{current_hub.name}
  %span.pull-right
    %a.btn.btn-primary{ href: new_project_path } Add Project
    %a.btn.btn-success{ href: play_path(current_hub) } Play Slideshow

%table.table.table-bordered.table-striped
  %tr
    %th Project Name
    %th Email
    %th Approved?
    %th Actions
  - @projects.each do |project|
    %tr
      %td= project.name
      %td= project.email
      %td
        = project.approved ? 'Yes' : 'No'
        - if project.approved
          = link_to '(Unapprove)', toggle_project_approval_path(project.id), method: :post
        - else
          = link_to '(Approve)', toggle_project_approval_path(project.id), method: :post
      %td
        = link_to 'delete', project, method: :delete, confirm: "Are you sure you want to delete this project?"
        &middot;
        = link_to 'edit', edit_project_path(project.id, project.key)