!!! 5

%html{lang: "en"}
%head
  %title Hub Slideshow
  = stylesheet_link_tag "slideshow", media: "all"
  %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600", rel: "stylesheet", type: "text/css"}
  
%body.impress-not-supported
  
  #impress
  
    //big overview step-# data-scale * 30 = data-x
    
    .step{"id" => "members", "data-x" => "1100", "data-y" => -4000, "data-rotate-x" => "45", "data-scale" => 4}
      Our #{@hub.name} Members    
    
    - @projects.each do |project|
    
      - before_project
    
      //title step
      .step.title-step{"data-x" => @slide_params[:x] + 1000, |
                       "data-y" => @slide_params[:y] + 400,  |
                       "data-scale" => "2.5", "id" => "project#{project.id}"} |
        .project-title= project.name
          
      - project.pages.all.each do |page|
          
        .step{"data-x" => @slide_params[:x], "data-y" => @slide_params[:y]}
          = render "steps/" + partial_name_from(page.page_type), page: page, project: project
          - after_page
          
      //overview step
      .step{"data-x" => @slide_params[:orig_x] + 1000, "data-y" => @slide_params[:orig_y] + 400, "data-scale" => "2.5"}
      
      - after_project  

  .hint
    %p Use a spacebar or arrow keys to navigate
    

  = javascript_include_tag "slideshow"
    
    