.contact-info
  .mailing-address= simple_format(page.content[:mailing_address])
  .phone= page.content[:phone]
  .website
    %a{href: "#"}= page.content[:website]
  .twitter= page.content[:twitter]
  .facebook 
    facebook.com/
    %br
    = page.content[:facebook]
  .blog
    %a{href: "#"}= page.content[:blog]
